gris_claro = #cecece

verde1 = #519221
.greenblog
  background verde1
.margin_left
  margin-left 1em
.margin_right
  margin-right 1em
.float_left
  float left
.float_right
  float right
.container_mision
  background gris_claro
  .vision
  .mision
    width 90%
    margin 0 auto
    text-align center
    overflow hidden
    .text_mision
    .text_vision
      width 40%
      display inline-block
      vertical-align top
      margin-top 1em
      .card-panel
        text-align justify
        background verde1
    .img_mision
    .img_vision
      width 40%
      display inline-block
      vertical-align top
  .mision
    h2
      margin-top 0
      padding-top 1em
  .valores
    h2
      text-align center
